<%- include('partials/header.ejs', {title: "Edit"}) %>
<main>
<div class="form-container"></div>
  <form action="/edit/<%= post.id %>" method="post">
  <input type="text" name="title" value="<%= post.title %>">

  <textarea name="body"><%= post.body %></textarea>

  <button type="submit">Save</button>
  </div>
</form>














</main>
<%- include('partials/footer.ejs') %>